APP_NAME=Trash WebApp API
ENV=dev

# DB
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/trash_webapp

# JWT
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_MINUTES=43200

# Telegram
BOT_TOKEN=8374316381:AAG7o4LvB2HN-q3oR_LGZxrOroNq3J8wgBs
# Для локальной разработки можно временно отключить проверку подписи initData:
TELEGRAM_AUTH_DEV_BYPASS=true